
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body{
  background-color: #F6F6F6;
  margin: 0;
}

.nav{
	display: flex;
  flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
}

.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 46px;
  height: 19px;
  left: 500px;
  top: 60px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  color: #4F5665;
}



.logo{
  position: absolute;
  width: 149px;
  height: 36.23px;
  left: 150px;
  top: 50px
}

.sginin-btn{
  position: absolute;
  width: 53px;
  height: 19px;
  left: 920px;
  top: 60.62px;

font-family: 'Rubik',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #0B132A;
}

.signup-btn{
  position: absolute;
width: 150px;
height: 45px;
left: 1000px;
top: 45.62px;

border: 1px solid #F53855;
box-sizing: border-box;
border-radius: 50px;



font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;



color: #F53855;

}



